<!DOCTYPE html>
<html lang="en">
<head>
  <title>AuraJS - Guides</title>
  <meta charset="utf-8" />
  <meta name='viewport' content='width=1000' />
  <meta name='description' content="<%= data.api.project.description %>" />
  <meta property='og:title' content="<%= data.api.project.name %>" />
  <meta property='og:type' content='company' />
  <meta property='og:site_name' content="<%= data.api.project.name %>" />
  <meta property='og:url' content="<%= data.api.project.url %>" />
  <%= stylesheet_link_tag('style') %>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <link rel="alternate" type="application/atom+xml" title="Aura Guides" href="/guides/feed.xml" />
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= partial "partials/hull_init" %>
</head>

<body>
  
  <header>
    <%= partial 'partials/top_nav' %>
  </header>
  
  <aside class="sidebar" role="navigation">
    <div>
      <a href="/" class="logo"></a>
      <div class="tree">
        <div class="tree-nav-section">
          <ul>
            <% blog.articles.each_with_index do |article, i| %>
            <li>
              <%= link_to article.title, article %>
            </li>
            <% end %>
          </ul>
        </div>
        <ul class="tree-nav-section">
          <li>
            <a class="btn small block" href="https://github.com/aurajs/aura/zipball/master">Download .zip</a>
          </li>
          <li>
            <a class="btn small block" href="https://github.com/aurajs/boilerplate/tarball/master">Download boilerplate</a>
          </li>
          <li>
            <a class="btn small block faded" href="https://github.com/aurajs/aura">View on Github</a>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  
  <section class="documentation">
    <article>
      <div class="row">
        <header class="documentation-header">
          <h1><%= current_page.data.title %></h1>
          <% if current_page.data.subtitle %>
            <p><%= current_page.data.subtitle %></p>
          <% end %>
          <% if current_page.data.author %>
            <cite>by: <a href="//github.com/<%= current_page.data.author %>"><%= current_page.data.author %></a></cite>
          <% end %>
          <% if current_page.data.date %>
            <time class="pull-right"><%= current_page.date.strftime('%b %d, %Y') %></time>
          <% end %>
        </header>
        
        <div class="documentation-body language-markup">
          <%= yield %>

          <% if current_article %>
          <section class="component">
            <h1>Comments</h1>
            <article>
              <div data-hull-widget='comments@hull' data-hull-uid="<%= current_article.url %>">Loading comments...</div>
            </article>
          </section>
          <% end %>

        </div>
      </div>
    </article>
  </section>
  <%= partial 'partials/analytics' %>
</html>