<!DOCTYPE html>
<html lang="en">
<head>
  <title>AuraJS - <%= current_page.data.title %></title>
  <meta charset="utf-8" />
  <meta name='viewport' content='width=1000' />
  <meta name='description' content="<%= data.api.project.description %>" />
  <meta property='og:title' content="<%= data.api.project.name %>" />
  <meta property='og:type' content='company' />
  <meta property='og:site_name' content="<%= data.api.project.name %>" />
  <meta property='og:url' content="<%= data.api.project.url %>" />
  <%= stylesheet_link_tag('style') %>
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' %>
  <%= javascript_include_tag 'application' %>
  <%= partial "partials/hull_init" %>
</head>

<body>

  <header>
    <%= partial 'partials/top_nav' %>
  </header>
  
  <aside class="sidebar" role="navigation">
    <div>
      <a href="/" class="logo"></a>
      <div class="tree"><%= partial "partials/docs_nav" %></div>
    </div>
  </aside>
  
  <section class="documentation" id="content">
    <article>
      <div class="row">
        <header class="documentation-header">
          <h1><%= current_page.data.title %></h1>
          <p><%= current_page.data.subtitle %></p>
        </header>
        
        <div class="documentation-body language-markup">
          <%= yield %>
        </div>
      </div>
    </article>
  </section>
  <%= partial 'partials/analytics' %>
</body>
</html>