<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AuraJS - <%= current_page.data.title %></title>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=1000' />
    <meta name='description' content="<%= data.api.project.description %>" />
    <meta property='og:title' content="<%= data.api.project.name %>" />
    <meta property='og:type' content='company' />
    <meta property='og:site_name' content="<%= data.api.project.name %>" />
    <meta property='og:url' content="<%= data.api.project.url %>" />
    <%= stylesheet_link_tag('style') %>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'modernizr' %>
    <%= partial "partials/hull_init" %>
  </head>

  <body class="landing">

    <header>
      <%= partial 'partials/top_nav' %>
    </header>
    
    <section>
      <div id="particles"></div>
      
      <header class="hero-unit row">
        <div class="logo cell-4">
          <%= image_tag 'logos/white_halo.png', :height => '220', :width => '220' %>
        </div>
        <div class="cell-8">
          <h1><%= current_page.data.subtitle %></h1>
          <div class="row">
            <%= link_to 'Download Aura v0.9', '//github.com/aurajs/aura/zipball/master', :class => 'button btn large' %>
            <%= link_to 'Download Boilerplate', '//github.com/aurajs/boilerplate/tarball/master', :class => 'button btn' %>
          </div>
        </div>
      </header>

      <article>
        <%= yield %>
      </article>
    </section>

    <footer>
      <%= partial 'partials/footer' %>
    </footer>

    <%= partial 'partials/analytics' %>

  </body>
</html>