<nav class="nav" id="secondary-nav" role="navigation">
  <ul>
    <% data.nav.each do |title, nav| url = nav[:url] == "/" ? current_page.url : current_page.url.gsub(/\/$/, '') %>
    <li class="<%= "active" if nav[:url] == url %>">
      <a href="<%= nav[:url] %>" rel="<%= title %>">
        <%= title %>
      </a>
    </li>
    <% end %>
    <li>
      <form class='search'>
        <input type="text" id="st-search-input" class="st-search-input" placeholder="search" />
      </form>
      <div id="st-results-container"></div>
      <script type="text/javascript">
        var Swiftype = window.Swiftype || {};
        (function() {
          Swiftype.key = '<%= data.settings.swiftype.api_key %>';
          Swiftype.inputElement = '#st-search-input';
          Swiftype.resultContainingElement = '#st-results-container';
          Swiftype.attachElement = '#st-search-input';
          Swiftype.renderStyle = "overlay";

          var script = document.createElement('script');
          script.type = 'text/javascript';
          script.async = true;
          script.src = "//swiftype.com/embed.js";
          var entry = document.getElementsByTagName('script')[0];
          entry.parentNode.insertBefore(script, entry);
        }());
      </script>
    </li>
  </ul>
</nav>
