---
title: Guides
subtitle: A collection of useful tutorials and articles.
---

<% blog.articles.each_with_index do |article, i| %>
  <article>
    <header>
      <h2><%= link_to article.title, article %></h2>
      <% if article.data.author %>
        <cite>by: <a href="//github.com/<%= article.data.author %>" target="gh"><%= article.data.author %></a></cite>
      <% end%>
      <time class="pull-right"><%= article.date.strftime('%b %d, %Y') %></time>
    </header>
    
    <div class="summary">
      <%= article.summary %>
      <%= link_to "Read more...", article %>
    </div>
  </article>
<% end %>

