---
title: Examples
subtitle: Some examples of what can be done with Aura.
---

<div class="row">
  <% data.examples.each do |title, item| %>
    <div class="cell-4 gallery-item">
      <a class="cover" href="<%= item.link %>">
        <img src="<%= image_path("#{item.thumb}") %>" height="auto" width="100%" />
      </a>
      <h2 class="title">
        <%= item.title %>
      </h2>
      <p class="description">
        <%= item.description %>
      </p>
      <p>
        <a href="<% item.link %>">
          <%= item.code %>
        </a>
      </p>
    </div>
  <% end %>
</div>