---
title: Examples
subtitle: Some examples of stuff built with Aura.
---

<div class="row">
  <% data.examples.each do |title, item| %>
    <div class="cell-4 gallery-item">
      <a class="cover" href="<%= item.link %>" target="aura-example">
        <img src="<%= image_path("#{item.thumb}") %>" height="auto" width="100%" />
      </a>
      <h2 class="title">
        <%= item.title %>
      </h2>
      <p class="description">
        <%= item.description %>
      </p>
      <%= item.code %>
    </div>
  <% end %>

<!-- add a new example -->
  <div class="cell-4 gallery-item">
    <a class="cover" href="//github.com/aurajs/aura/compare/" title="Submit a Pull Request">
      <div><span>+</span></div>
    </a>
    <h2 class="title">
      Add your project
    </h2>
    <p class="description">
      Share something you've built with Aura.
    </p>
  </div>
</div>