---
title: Aura
subtitle: A framework-agnostic, extensible architecture for decoupled and reusable components.
---

<div class="row">
  <% data.landing.each do |title, item| %>
    <div class="cell-4">
      <h2 class="<%= item.icon %>"><%= item.title %></h2>
      <p><%= item.description %></p>
      <a href="<%= item.link %>" title="<%= item.title %>">See More <span class="icon-arrow-right"></span></a>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="cell-4">
    <h2 class="icon-sun_stroke">It's framework-agnostic</h2>
    <figcaption>
      <p>Aura is built to be framework agnostic you can use it with or without your favorite JS framework.</p>
      <p>Works well with other frameworks from Backbone, Ember and Angular to Knockout and more&hellip;</p>
      <ul class="secret-list island">
        <li>
          <a href="//angularjs.org" title="Angular website">
            <div class="js-framework angular"></div>
          </a>
        </li>
        <li>
          <a href="//backbonejs.org" title="Backbone website">
            <div class="js-framework backbone"></div>
          </a>
        </li>
        <li>
          <a href="//emberjs.com/" title="Ember website">
            <div class="js-framework ember"></div>
          </a>
        </li>
      </ul>
    </figcaption>
  </div>
  <figure class="cell-8">
    <%= image_tag 'docs/multi.jpg', :height => 'auto', :width => '100%', :alt => "aura's multip-tiered architecture" %>
  </figure>
</div>

<div class="secondary-section sub-section">
  <div class="row align-center">
    <%= link_to 'Download Aura v0.9.1', '//github.com/aurajs/aura/zipball/master', :class => 'button btn small' %>
    <%= link_to 'Download Boilerplate', '//github.com/aurajs/boilerplate/tarball/master', :class => 'button btn small' %>
  </div>
</div>